/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
.DS_Store
*.log
.idea
.vscode
.eslintcache
package-lock.json
/dist
src/assets.js
host/index.html
assets/builds/assets.json
assets/builds
assets/jsons/assetData.json
/preview
exports
